<!DOCTYPE html>

<html>

    <head>
        <title>AulasParticulares</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        
        <header>
         <div class="links">
            <a href="#">Professor</a>
            <a href="#">Estudante</a>
         </div>
        </header>

        {% block content %}
        {% endblock content %}

    </body>
</html>